.plane {
  background-color: $color-bg;
  position: relative;
  overflow: hidden;

  &__content {
    width: 46%;

    .aside-image {
      position: absolute;
      top: 0;
      left: 50%;
    }

    h5 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: $fs-sm - 2;
      line-height: $base * 3;
      letter-spacing: 0.1em;
    }

    h2 {
      font-weight: $fw-light;
      font-size: $fs-lg-s;
      line-height: $base * 12;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      font-family: Roboto;
      font-weight: $fw-regular;
      font-size: $fs-md;
      line-height: $base * 7;
      letter-spacing: 0.03em;
      color: #8d96bd;
      margin-bottom: $base * 12;
    }
  }
}

.btn-group {
  svg {
    margin-left: $base * 2;
  }
}
