<section class="blog wrapper-outler">
  <div class="wrapper-inner">
    <div class="ta-c spanedic">our resources</div>
    <h4 class="ta-c">Start reading our blog</h4>


    <div class="slider-blog">
      <div class="slider-blog__container swiper-container">
        <ul class="slider-blog-wrapper swiper-wrapper">
          <li class="slider-blog-wrapper__item swiper-slide">
            <div class="slider-blog-wrapper__item-gallery">
              <a href="./img/blog-1.png" data-fslightbox="gallery-1" aria-label="blog images workspace" class="image-link image-link--big">
                <img src="./img/blog-1.png" width="268" height="267" alt="">
                <span class="loope"></span>
              </a>
              <a href="./img/blog-2.png" data-fslightbox="gallery-1" aria-label="blog images notebook" class="image-link image-link--sm-1">
                <img src="./img/blog-2.png" width="127" height="127" alt="">
                <span class="loope"></span>
              </a>
              <a href="./img/blog-3.png" data-fslightbox="gallery-1" aria-label="blog images man and phone" class="image-link image-link--sm-2">
                <img src="./img/blog-3.png" width="127" height="127" alt="">
                <span class="loope"></span>
              </a>
            </div>
            <div class="slider-blog-wrapper__item-content">
              <h3 class="title">How to start planning</h3>
              <p class="text">Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit
                tractatos, vero tractatos ius&nbsp;an, in&nbsp;mel diceret persecuti. Natum petentium principes
                mei&nbsp;ea.
                Tota everti periculis vis&nbsp;ei, quas tibique pro&nbsp;at, eos ut&nbsp;decore ...</p>
              <div class="btn-groupe">
                <a href="#" class="btn btn-reset btn--primary">Read now</a>
                <a href="#" class="btn btn-reset btn--grey">Add to your bookmarks</a>
              </div>
            </div>
          </li>
          <li class="slider-blog-wrapper__item swiper-slide">
            <div class="slider-blog-wrapper__item-gallery">
              <a href="./img/blog-1.png" data-fslightbox="gallery-1" aria-label="blog images workspace" class="image-link image-link--big">
                <img src="./img/blog-1.png" width="268" height="267" alt="">
                <span class="loope"></span>
              </a>
              <a href="./img/blog-2.png" data-fslightbox="gallery-1" aria-label="blog images notebook" class="image-link image-link--sm-1">
                <img src="./img/blog-2.png" width="127" height="127" alt="">
                <span class="loope"></span>
              </a>
              <a href="./img/blog-3.png" data-fslightbox="gallery-1" aria-label="blog images man and phone" class="image-link image-link--sm-2">
                <img src="./img/blog-3.png" width="127" height="127" alt="">
                <span class="loope"></span>
              </a>
            </div>
            <div class="slider-blog-wrapper__item-content">
              <h3 class="title">How to start planning</h3>
              <p class="text">Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit
                tractatos, vero tractatos ius&nbsp;an, in&nbsp;mel diceret persecuti. Natum petentium principes
                mei&nbsp;ea.
                Tota everti periculis vis&nbsp;ei, quas tibique pro&nbsp;at, eos ut&nbsp;decore ...</p>
              <div class="btn-groupe">
                <a href="#" class="btn btn-reset btn--primary">Read now</a>
                <a href="#" class="btn btn-reset btn--grey">Add to your bookmarks</a>
              </div>
            </div>
          </li>
          <li class="slider-blog-wrapper__item swiper-slide">
            <div class="slider-blog-wrapper__item-gallery">
              <a href="./img/blog-1.png" data-fslightbox="gallery-1" aria-label="blog images workspace" class="image-link image-link--big">
                <img src="./img/blog-1.png" width="268" height="267" alt="">
                <span class="loope"></span>
              </a>
              <a href="./img/blog-2.png" data-fslightbox="gallery-1" aria-label="blog images notebook" class="image-link image-link--sm-1">
                <img src="./img/blog-2.png" width="127" height="127" alt="">
                <span class="loope"></span>
              </a>
              <a href="./img/blog-3.png" data-fslightbox="gallery-1" aria-label="blog images man and phone" class="image-link image-link--sm-2">
                <img src="./img/blog-3.png" width="127" height="127" alt="">
                <span class="loope"></span>
              </a>
            </div>
            <div class="slider-blog-wrapper__item-content">
              <h3 class="title">How to start planning</h3>
              <p class="text">Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit
                tractatos, vero tractatos ius&nbsp;an, in&nbsp;mel diceret persecuti. Natum petentium principes
                mei&nbsp;ea.
                Tota everti periculis vis&nbsp;ei, quas tibique pro&nbsp;at, eos ut&nbsp;decore ...</p>
              <div class="btn-groupe">
                <a href="#" class="btn btn-reset btn--primary">Read now</a>
                <a href="#" class="btn btn-reset btn--grey">Add to your bookmarks</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <a href="#" aria-label="arrow prev" class="btn-blog btn-blog--prev"></a>
      <a href="#" aria-label="arrow next" class="btn-blog btn-blog--next"></a>



    </div>

    <ul class="dots dots-blog">
      <li class="dots__item dots__item--active"></li>
      <li class="dots__item"></li>
      <li class="dots__item"></li>
    </ul>

  </div>
</section>
