<section class="faq wrapper-outler">
  <div class="wrapper-inner">
    <div class="ta-c spanedic">Customer help</div>
    <h4 class="ta-c">Frequently asked questions</h4>

    <ul class="faq-accordion">
      <li class="faq-accordion__item">
        <div class="faq-accordion__item-trigger">
          <div class="faq-accordion__item-trigger-icon">
            <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow" d="M2 2L9 9L16 2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="faq-accordion__item-trigger-text">Reque insolens in vel?</div>
        </div>
        <div class="faq-accordion__item-content">
          <div class="faq-accordion__item-content-text">
            Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit tractatos, vero
            tractatos ius&nbsp;an,
            in&nbsp;mel diceret persecuti.
          </div>
          <div class="faq-accordion__item-content-btn">
            <a href="#" class="btn btn-reset btn--grey-scale">Go to documentation</a>
          </div>
        </div>
      </li>
      <li class="faq-accordion__item">
        <div class="faq-accordion__item-trigger">
          <div class="faq-accordion__item-trigger-icon">
            <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow" d="M2 2L9 9L16 2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="faq-accordion__item-trigger-text">Vis rebum error graecis ea, id sit postea accusamus?</div>
        </div>
        <div class="faq-accordion__item-content">
          <div class="faq-accordion__item-content-text">
            Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit tractatos, vero
            tractatos ius&nbsp;an,
            in&nbsp;mel diceret persecuti.
          </div>
          <div class="faq-accordion__item-content-btn">
            <a href="#" class="btn btn-reset btn--grey-scale">Go to documentation</a>
          </div>
        </div>
      </li>
      <li class="faq-accordion__item faq-accordion__item--active">
        <div class="faq-accordion__item-trigger">
          <div class="faq-accordion__item-trigger-icon">
            <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow" d="M2 2L9 9L16 2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="faq-accordion__item-trigger-text">Lorem repudiandae ne nec?</div>
        </div>
        <div class="faq-accordion__item-content">
          <div class="faq-accordion__item-content-text">
            Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit tractatos, vero
            tractatos ius&nbsp;an,
            in&nbsp;mel diceret persecuti.
          </div>
          <div class="faq-accordion__item-content-btn">
            <a href="#" class="btn btn-reset btn--grey-scale">Go to documentation</a>
          </div>
        </div>
      </li>
      <li class="faq-accordion__item">
        <div class="faq-accordion__item-trigger">
          <div class="faq-accordion__item-trigger-icon">
            <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow" d="M2 2L9 9L16 2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="faq-accordion__item-trigger-text">Ad dicit numquam vel. Et eos iudico feugait percipitur?</div>
        </div>
        <div class="faq-accordion__item-content">
          <div class="faq-accordion__item-content-text">
            Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit tractatos, vero
            tractatos ius&nbsp;an,
            in&nbsp;mel diceret persecuti.
          </div>
          <div class="faq-accordion__item-content-btn">
            <a href="#" class="btn btn-reset btn--grey-scale">Go to documentation</a>
          </div>
        </div>
      </li>
      <li class="faq-accordion__item">
        <div class="faq-accordion__item-trigger">
          <div class="faq-accordion__item-trigger-icon">
            <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow" d="M2 2L9 9L16 2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="faq-accordion__item-trigger-text">Sea no dico percipitur. Fierent constituam definitiones id eum?
          </div>
        </div>
        <div class="faq-accordion__item-content">
          <div class="faq-accordion__item-content-text">
            Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit tractatos, vero
            tractatos ius&nbsp;an,
            in&nbsp;mel diceret persecuti.
          </div>
          <div class="faq-accordion__item-content-btn">
            <a href="#" class="btn btn-reset btn--grey-scale">Go to documentation</a>
          </div>
        </div>
      </li>
    </ul>

  </div>
</section>
