<section class="features wrapper-outler">
  <div class="wrapper-inner">
    <div class="ta-c spanedic">ABOUT US</div>
    <h4 class="ta-c">Read about our app</h4>

    <ul class="features-list">
      <li class="features-list__item">
        <div class="features-list__item-icon"><img src="./img/house.svg" alt=""></div>
        <h5 class="features-list__item-title">Overview</h5>
        <p class="features-list__item-text">
          Brute laoreet efficiendi id&nbsp;his, ea&nbsp;illum nonumes luptatum pro.
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-list__item-icon"><img src="./img/folder.svg" alt=""></div>
        <h5 class="features-list__item-title">Files</h5>
        <p class="features-list__item-text">
          No&nbsp;vim nulla vitae intellegat. Ei&nbsp;enim error ius, solet atomorum conceptam ex&nbsp;has.
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-list__item-icon"><img src="./img/message.svg" alt=""></div>
        <h5 class="features-list__item-title">Meeting chats</h5>
        <p class="features-list__item-text">
          Vim ne&nbsp;tacimates neglegentur. Erat diceret omittam at&nbsp;est.
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-list__item-icon"><img src="./img/save.svg" alt=""></div>
        <h5 class="features-list__item-title">Save events</h5>
        <p class="features-list__item-text">
          Nisl idque mel&nbsp;ea, nominati voluptatum.
        </p>
      </li>
    </ul>

    <div class="btns">
      <a href="#" class="btn btn-reset btn--danger">Read more</a>
      <span class="or-block">OR</span>
      <a href="#" class="btn btn-reset btn--primary">Get started</a>
    </div>

  </div>
</section>
