<section class="get-started wrapper-outler">
  <div class="wrapper-inner">
    <div class="ta-c spanedic">plan your life</div>
    <h2 class="ta-c">Get <span>started</span> now</h2>
    <div class="text">Brute laoreet efficiendi id&nbsp;his, ea&nbsp;illum nonumes luptatum pro. Usu atqui
      laudem&nbsp;an, insolens gubergren similique est&nbsp;cu. Et&nbsp;vel modus congue vituperata.
    </div>

    <div class="btn-group">
      <a href="#" class="btn btn-reset btn--secondary-inv">View pricing</a>
      <a href="#" class="btn btn-reset btn--disable-inv">Read documentation</a>
    </div>
  </div>
</section>
