<section class="newsletter wrapper-outler">
  <div class="wrapper-inner">
    <h4 class="visually-hidden">Newsletter</h4>

    <div class="newsletter__left">
      <div class="newsletter__left-title">Sign up for newsletter</div>
      <div class="newsletter__left-text">Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu, homero alterum.
      </div>

    </div>

    <div class="newsletter__right">
      <form class="form-newsletter">
        <label for="email" class="visually-hidden">Email:</label>
        <input type="text" placeholder="Email address" class="input">
        <button class="btn btn-reset btn--save">Save me</button>
      </form>
    </div>

  </div>
</section>
