<section class="plane wrapper-outler">
  <div class="wrapper-inner">
    <img class="aside-image" src="./img/plan-bg.png" alt="bg">
    <div class="plane__content">
      <div class="spanedic">desktop and mobile app</div>
      <h2><span>Plan</span> and <span>manage</span></h2>
      <p class="text">Brute laoreet efficiendi id&nbsp;his, ea&nbsp;illum nonumes luptatum pro. Usu atqui
        laudem&nbsp;an, insolens gubergren similique est&nbsp;cu. Et&nbsp;vel modus congue vituperata. Solum patrioque
        no&nbsp;sea. Mea ex&nbsp;malis mollis oporteat. Eum an&nbsp;expetenda consequat.
      </p>
      <div class="btn-group">
        <a href="#" class="btn btn-reset btn--secondary">View video
          <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6 2.73354C6.66667 3.11844 6.66667 4.08069 6 4.46559L1.5 7.06367C0.833333 7.44857 0 6.96744 0 6.19764V1.00149C0 0.231691 0.833333 -0.249434 1.5 0.135467L6 2.73354Z"
              fill="white" />
          </svg>
        </a>
        <a href="#" class="btn btn-reset btn--disable">See features</a>
      </div>
    </div>
  </div>
</section>
