<section class="quots wrapper-outler">
  <div class="wrapper-inner">

    <div class="quots__left">
      <div class="spanedic">testimonials</div>
      <h3>Customers's quotes</h3>
      <p class="text">Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an.</p>
    </div>

    <div class="quots__right">


        <ul class="slider-quots ">
          <li class="slider-quots__item ">
            <div class="slider-quots__item-text">
              Quidam vocibus eum&nbsp;ne, erat consectetuer voluptatibus ut&nbsp;nam. Eu&nbsp;usu vidit tractatos, vero
              tractatos ius&nbsp;an, in&nbsp;mel diceret persecuti.
            </div>
            <div class="slider-quots__item-photo">
              <img src="./img/avatar.jpg" alt="">
            </div>
          </li>

        </ul>


    </div>

  </div>
</section>
