<section class="stats wrapper-outler">
  <div class="stats__left">
    <h5 class="visually-hidden">Stats</h5>
    <div class="stats__left-icon">
      <img src="./img/speed.svg" alt="">
    </div>
    <div class="stats__left-number">89%</div>
    <p class="stats__left-text">Customers who have increased their productivity</p>
  </div>
  <div class="stats__right">
    <div class="stats__right-icon">
      <img src="./img/people.svg" alt="">
    </div>
    <div class="stats__right-number">3123</div>
    <p class="stats__right-text">Users who have used our application</p>
  </div>
</section>
